.input-box .field-row:nth-child(1) .dynamic-field-row:nth-child(2) input {
    border-radius: 0px 8px 8px 0px;
}

.input-box .field-row:nth-child(1) .dynamic-field-row:nth-child(1) input {
    border-radius: 8px 0px 0px 8px;
}

@media only screen and (max-width: 376px) {
    .form-container {
        padding: 5px !important;
    }
    .input-box .dynamic-field-row {
        justify-content: unset !important;
    }
    .input-box .field-row {
        width: 90%;
    }
    .input-box .field-row:nth-child(1) .dynamic-field-row {
        width: 50% !important;
    }
}
